body
{
	background: linear-gradient(lightskyblue,white); 
}

form
{
	background: transparent;
}



.logo
{
	width: 300px;
	height: 300px;
}

.cadastro
{
	font-size: 45px;
	color: royalblue;
}

.form-control
{
	border-radius: 20px;
	border-color: black;
	background: lightskyblue;
}

.prosseguir
{
	background: royalblue;
	height: 40px;
	width: 180px;
	border-radius: 20px;
	border-color: black;
	color: black;
}